{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #e3e7eb;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About Us</h5>
    <div class="card-body">
      <p class="card-text">
        Zuri internship is an engineering-as-a-service business that helps
        companies build remote teams quickly and cost-effectively. We have
        1,000+ software engineers working as full-time, embedded members of
        development teams at over 200 leading tech companies.
      </p>
      <a href="#" class="btn btn-danger">Know more!</a>
    </div>
  </div>
</div>

{% endblock sidebar %}
